

.demolisting {
    min-width: 450px;
    
}

@media only screen and (max-width: 600px) {
    body {
background: #1d1d1d;
        }}

@media only screen and (max-width: 600px) {
    #homelink {
visibility: hidden;
        }}             

h1  {
text-align: center; 
}

@media only screen and (max-width: 600px) {
    #headline {
color: rgb(194, 194, 194)
        }}

#connect {
visibility: hidden;
}

@media only screen and (max-width: 320px) {
    #connect {
color: chocolate;
visibility: visible
        }}

ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
flex-wrap: wrap;

}

li {
width: 550px;
height: 100%;
background: #dddddd;
border-radius: 0px;
border: solid 3px;
padding: 10px;
padding-top: 5px;
padding-bottom: 35px;
text-align: center;
margin: 20px;
transition: all ease-in-out 0.3s;
color: rgb(65, 65, 65, 1);
overflow: hidden;
}

@media only screen and (max-width: 600px) {
    li {
width: 450px;
height: 100%;
background: #d8d8d8;
border-radius: 5px;
border: solid 2px;
padding-top: 2px;
padding-right: 14px;
text-align: center;
margin: 2px;
transition: all ease-in-out 0.4s;
color: rgb(66, 66, 66);
justify-content: left;
        
        }}

li:hover {
width: 550px;
height: 100%;
background: #f3f3f3;
border-radius: 5px;
border: solid 2.3px;
padding-top: 5px;
text-align: center;
margin: 20px;
transition: all ease-in-out 0.4s;
color: rgb(65, 65, 65, 1);
}

@media only screen and (max-width: 600px) {
li:hover {
width: 95%;
height: 100%;
background: #ffffff;
border-radius: 5px;
border: solid 2.4px;
padding-top: 5px;
text-align: center;
margin: 2px;
transition: all ease-in-out 0.4s;
justify-content: center;
color: rgb(20, 20, 20);
        
        }}

.learn-more {
height: 100%;
opacity: 1;
color: rgb(5, 5, 5);
overflow: -moz-hidden-unscrollable;
padding-left: 10px;
padding-right: 10px;

}

.learn-more:hover {
height: 100%;
opacity: 1;
color: rgb(65, 65, 65, 1);
overflow: visible;

}
@media only screen and (max-width: 600px) {
.learn-more:hover {
    opacity: 1;
    color: rgb(31, 31, 31);

}}

@media only screen and (max-width: 600px) {
.learn-more {
    opacity: 1;
    color: rgb(0, 0, 0);

}}

.black-divider {
    background-color: black;
    height: 2px;
}

.featured-col-1 {
    width: 50%;
    min-width: 320px;
    height: 450px;
    background-image: url('../images/bkgrnd-1.jpg');
    display: inline-block;
    padding-left: 33px;
}

.featured-col-2 {
    width: 50%;
    min-width: 320px;
    height: 450px;
    background-image: url('../images/edenscreenshot.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    padding-left: 33px;
}

.featured-col-3 {
    width: 50%;
    min-width: 320px;
    height: 450px;
    background-image: url('../images/support_rustyraygun.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    padding-left: 33px;
}

.main-button {
   background-color: #a9ec6d;
}

.row_one {
   background-image: url('../images/bkgrnd-1.jpg');
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: solid 1px;
  border-color: #000000;
  padding-top: 63px;
  
  }
  
  .footer-row {
      height: 22px;
      background-color: #a9ec6d;

  }

.demo-row {
background-color:aliceblue;
display:block;
border-bottom: solid 2pt;
padding-bottom: 13px;
width: 100%;
height: 1900px;

}
