<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rusty Raygun Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main-style.css">
 
        <script type='text/javascript' src="/core/dist/ionic.js"></script>
        <link rel="stylesheet" href="core/css/ionic.bundle.css">
        
     <!--   <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
        -->
        


    

    </head>
    <body>
        <ion-content>

                <ion-grid>
                        <ion-row class="row_one">
                        <ion-col class="col-one">
                            
                            <h3>Rusty Raygun</h3>
                         
                            <ion-button class="main-button" size="small" color="medium" fill="outline" href="index.html">Home</ion-button>
                          
                            
                        </ion-col>
                        <ion-col class="col-two">
                            
                        </ion-col>
                        </ion-row> 
                    <!-- ROW ONE--DEMOS-->
                        <ion-row>
                           <div>
                            <p>This page was scrapped. 
                                But checkout...</p><br>
                                <a target="_blank" src="mudhead.html">Mudhead Bogo</a>
                            </p><br><br><br>
                           </div>
                        </ion-row>
                
                     
                        <!--Divider-->
                        <ion-row class="black-divider"></ion-row>
                        

                  <!--     <ion-row>
                            <div><div id="app">
                                    
                                    <ul>
                                        <li v-for="item in items">
                                            <h3>{{ item['fields']['title'] }}</h3>
                                            <a v-bind:href="item['fields']['page-link']" target="self">
                                                <img :src="item['fields']['image-banner'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['image-banner']" width="95%">
                                            </a>
                                            <div class="learn-more"><h4 >{{ item['fields']['sub-title'] }}</h4></div>
                                            <div class="learn-more"><p>{{ item['fields']['preview-text'] }}</p></div>
                                            <p><strong>Author: </strong>{{ item['fields']['author'] }}</p>
                                            <ion-button class="chip" size="small" color="dark" fill="outline">{{ item['fields']['tag'] }}</ion-button>
                                            
                                            
                                        </li>
                                    </ul>            
                                
                       </ion-row> -->
                        
                    
      
            <ion-row class="footer-row"></ion-row>
            
                        </ion-grid>

    

            


<!--Loader-Component-->
            
        </ion-content>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        
    </body>
</html>

